@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #0a374f;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 0px;
}

/* Esquina (esquina inferior derecha de la barra de desplazamiento) */
::-webkit-scrollbar-corner {
  background: transparent; /* Color de fondo */
}

.grid-frameworks-1{
  display: flex;
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 60% 10% 30%;
}
.grid-frameworks-1 div{
  max-width: 100%;
  height: 50px;
  transition: all .3s ease-in;
}

.grid-frameworks-1 div:hover{
  background-color: red;
}



.gradient-bg{
  height: 150vh;
  padding-top: 400px;
  background-color: transparent;
  color: white;
  background-image: linear-gradient(to bottom, #0a374f , black 40%);
}



@keyframes animation-text {
  from{
    opacity: 0;
    scale: 25%;
  }
  to{
    opacity: 1;
    scale: 100%;

  }
  
}
.text-to-show{
  view-timeline-name: --text-showing;
  view-timeline-axis: block;
  animation-timeline: --text-showing;
  animation-name: animation-text;
}