@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background-image: linear-gradient(to bottom, #081a25 , #0A4548);
  background-attachment: fixed;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 0px;
}

/* Esquina (esquina inferior derecha de la barra de desplazamiento) */
::-webkit-scrollbar-corner {
  background: transparent; /* Color de fondo */
}

.grid-frameworks-1{
  display: flex;
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 60% 10% 30%;
}
.grid-frameworks-1 div{
  max-width: 100%;
  height: 50px;
  transition: all .3s ease-in;
}

.grid-frameworks-1 div:hover{
  background-color: red;
}



.gradient-bg{
  height: 150vh;
  padding-top: 400px;
  background-color: transparent;
  color: white;
  /* background: linear-gradient(90deg, rgba(224,216,170,1) 0%, rgba(228,219,159,1) 50%, rgba(146,120,67,1) 100%); */
}



@keyframes animation-text-footer {
  from{
    opacity: 0;
    scale: 25%;
  }
  to{
    opacity: 1;
    scale: 100%;

  }
  
}
.text-to-show{
  view-timeline-name: --text-showing;
  view-timeline-axis: block;
  animation-timeline: --text-showing;
  animation-name: animation-text-footer;
}



@keyframes animation-box-experience {
  from{
    opacity: 0.8;
    scale: 50%;
  }
  to{
    opacity: 1;
    scale: 100%;
  }
}
.box-to-show-experience{
  view-timeline-name: --text-showing;
  view-timeline-axis: block;
  animation-timeline: --text-showing;
  animation-name: animation-box-experience;
}



@keyframes animation-out-screen {
  from{
    opacity: 1;
  }
  to{
    opacity: .8;
  }
}
.box-out-from-screen{
  view-timeline-name: --text-showing;
  view-timeline-axis: block;
  animation-timeline: --text-showing;
  animation-name: animation-out-screen;
}

/* @keyframes animation-opacity-summary {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.summary-section-to-show{
  view-timeline-name: --section-summary-showing;
  view-timeline-axis: block;
  animation-timeline: --section-summary-showing;
  animation-name: animation-text-footer;
} */


.fade-in-section {
  opacity: 0;
  transform: translateY(60vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  will-change: opacity, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}


.text-shadow-landing{
  text-shadow: rgb(161, 161, 161) 3px 3px 1px;
}

/* .bg-color-gradient{
  background: linear-gradient(90deg, rgba(224,216,170,1) 0%, rgba(228,219,159,1) 50%, rgba(146,120,67,1) 100%);
} */





/* INFINITE SWIPPER */
.swiper-container {
  margin: 60px;
}
.swiper-slide {
  width: 50px;
  overflow: hidden;
  background-position: top;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.swiper-wrapper {
  -webkit-transition-timing-function:linear!important; 
  -o-transition-timing-function:linear!important;
  transition-timing-function:linear!important; 
}

/*SHADOW FOR MY PICTURE*/
.shadowed-me{
  border-bottom: 2px solid #443503a6;
  border-right: 2px solid #443503a6;
  box-shadow: 20px 20px 40px 5px rgba(255, 255, 255, 0.5);
}


/*VERTICAL TEXT*/
.vertical-text {
  writing-mode: vertical-rl; /* vertical right-to-left */
  text-orientation: upright; /* upright text */
  white-space: nowrap; /* prevents text from wrapping */
}


/*tool tip*/
.tool-tip{
  position: absolute;
  z-index: 1;
  pointer-events: none;
  user-select: none;


  box-shadow: 0 0 10px #000;
  font-size: .8rem;
  border-radius: 10px;

  top: 90%;
  left: 10%;

  opacity: 0;
  transition: opacity .3s ease;
}

:has(> .tool-tip){
  position: relative;
}

:has(> .tool-tip):hover .tool-tip{
  opacity: 1;

}

/*LOADING Delay*/
.container-pulser{
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}
.pulser-circle{
  width: 15px;
  height: 15px;
  background: white;
  border-radius: 50%;
  opacity: 0;
  animation: animationPulse 2s ease infinite;
}
@keyframes animationPulse {
  0%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
.pulser-circle:nth-child(1) {
  animation-delay: 0.1s;
}

.pulser-circle:nth-child(2) {
  animation-delay: 0.3s;
}

.pulser-circle:nth-child(3) {
  animation-delay: 0.5s;
}